
@media (orientation: portrait) {
    body {
        background-image: url("wood_grain.jpg");
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: 2.5vw;
        font-family: Arial, Helvetica, sans-serif;
    }
    #goban {
        font-size: 0;
        background-image: url("goban.png");
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: 0;
        display: block;
        height: 95vw;
        width: 95vw;
        padding: 2.5vw;
        margin: 0;
        /* background-color: green; */
    }
    #goban .horizontal_margin {
        /* background-color: red; */
        display: inline-block;
        /* width: 95vw; */
        height: 5vw;
    }
    #goban .header {
        /* background-color: pink; */
        display: inline-block;
        height: 10vw;
    }
    #goban .vertical_margin {
        /* background-color: blue; */
        display: inline-block;
        width: 5vw;
    }
    #goban .logo {
        background-image: url(CUGC_logo.png);
        background-size: 10vw;
        width: 10vw;
    }
    #goban .title {
        background-color: rgba(255, 255, 255);
        /* border-radius: 50vw; */
        border-color: black;
        border-style: solid;
        border-width: 0.35vw;
        width: 69.3vw;
        height: 9.3vw;
        display: inline-flex;
        vertical-align: top;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    #goban .column {
        font-size: 0;
        display: inline-block;
        /* background-color: red; */
        width: 95vw;
        height: 5vw;
        padding: 0;
        margin: 0;
    }
    .link_section {
        display: inline-block;
        height: 50vw;
        width: 25vw;
    }
    .link {
        display: inline-flex;
        width: 25vw;
        height: 5vw;
        /* background-color: red; */
    }
    h3 {
        background-color: white;
        display: inline-flex;
        font-size: 3.8vw;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: left;
        align-items: center;
        width: 20vw;
        padding-left: 1vw;
        color: black;
        border-width: 0.35vw;
        border-style: solid;
    }
    .textbox {
        background-color: white;
        height: 49.3vw;
        width: 54.3vw;
        display: inline-flex;
        flex-wrap: wrap;
        vertical-align: top;
        border-width: 0.35vw;
        border-style: solid;
    }
    p {
        font-size: 3vw;
        margin: 1vw 2vw 0 2vw;
        /* background-color: red; */
    }
    h5 {
        /* background-color: red; */
        display: flex;
        font-size: 1.5vw;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: right;
        width: 60vw;
        height: 1.6vw;
        padding: 0 0.4vw 0 0;
        color: black;
    }
    img {
        /* background-color: blue; */
        display: inline-block;
        width: 5vw;
        height: 5vw;
        padding: 0;
        margin: 0;
    }
    iframe {
        height: 22vw;
        width: 50vw;
        border: 0;
    }
}
@media (orientation: landscape) {
    body {
        display: flex;
        justify-content: center;
        background-image: url("wood_grain.jpg");
        background-repeat: no-repeat;
        background-size: 100vh;
        background-position: 50%;
        font-family: Arial, Helvetica, sans-serif;
    }
    #goban {
        font-size: 0;
        background-image: url("goban.png");
        background-repeat: no-repeat;
        background-size: 100vh;
        background-position: 0 0 0 5vh;
        display: block;
        height: 95vh;
        width: 95vh;
        padding: 2.5vh;
        margin: 0;
        /* background-color: purple; */
        /* text-indent: -99999px; */
    }
    #goban .horizontal_margin {
        /* background-color: red; */
        display: inline-block;
        /* width: 95vh; */
        height: 5vh;
    }
    #goban .header {
        /* background-color: pink; */
        display: inline-block;
        height: 10vh;
    }
    #goban .vertical_margin {
        display: inline-block;
        width: 5vh;
    }
    #goban .logo {
        background-image: url(CUGC_logo.png);
        background-size: 10vh;
        width: 10vh;
    }
    #goban .title {
        background-color: rgba(255, 255, 255);
        /* border-radius: 50vh; */
        border-color: black;
        border-style: solid;
        border-width: 0.35vh;
        width: 69.3vh;
        height: 9.3vh;
        display: inline-flex;
        vertical-align: top;
        justify-content: center;
        align-items: center;
        font-size: 5vh;
        margin-top: 0;
        margin-bottom: 0;
    }

    #goban .column {
        font-size: 0;
        display: inline-block;
        /* background-color: red; */
        width: 95vh;
        height: 5vh;
        padding: 0;
        margin: 0;
    }
    .link_section {
        display: inline-block;
        height: 50vh;
        width: 25vh;
    }
    .link {
        display: inline-flex;
        width: 25vh;
        height: 5vh;
        /* background-color: red; */
    }
    h3 {
        background-color: white;
        display: inline-flex;
        font-size: 3.8vh;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: left;
        align-items: center;
        width: 20vh;
        padding-left: 1vh;
        color: black;
        border-width: 0.35vh;
        border-style: solid;
    }
    .textbox {
        background-color: white;
        height: 49.3vh;
        width: 54.3vh;
        display: inline-flex;
        flex-wrap: wrap;
        vertical-align: top;
        border-width: 0.35vh;
        border-style: solid;
    }
    p {
        font-size: 3vh;
        margin: 1vh 2vh 0 2vh;
        /* background-color: red; */
    }
    h5 {
        /* background-color: red; */
        display: flex;
        font-size: 1.5vh;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: right;
        width: 60vh;
        height: 1.6vh;
        padding: 0 0.4vh 0 0;
        color: black;
    }
    img {
        /* background-color: blue; */
        display: inline-block;
        width: 5vh;
        height: 5vh;
        padding: 0;
        margin: 0;
    }
    iframe {
        height: 22vh;
        width: 50vh;
        border: 0;
    }
}
.link_section a {
    text-decoration: none;
}

p a {
    color: black;
}

.show {
    opacity: 100%;
}

.halfShow {
    opacity: 50%;
}

.hide {
    opacity: 0%;
}
